* {
    outline: none !important;
}

.width_auto {
    width: auto !important;
}

.border_lightgray {
    border: 1px solid #e5e5e5 !important;
}

.border_lightgray_nobottom {
    border: 1px solid #e5e5e5 !important;
    border-bottom: none !important;
}

.border_lightblue_nobottom {
    border: 1px solid #d1e0ee !important;
    border-bottom: none !important;
}

div.sapMBtnInner.sapMBtnAccept>.sapMBtnIcon {
    color: #2b7d2b !important;
}

div.sapMBtnInner.sapMBtnAccept.sapMToggleBtnPressed .sapMBtnIcon {
    color: white !important;
}

div.sapMBtnInner.sapMBtnReject>.sapMBtnIcon {
    color: #bb0000 !important;
}

div.sapMBtnInner.sapMBtnReject.sapMToggleBtnPressed .sapMBtnIcon {
    color: white !important;
}

.orange_button .sapMBtnInner,
.orange_button .sapMBtnInner:hover {
    border: 1px solid #e78c07;
}

.orange_button .sapMBtnInner .sapMBtnIcon,
.orange_button .sapMBtnInner:hover .sapMBtnIcon {
    color: #e78c07 !important;
}

.orange_button .sapMBtnInner.sapMToggleBtnPressed,
.orange_button .sapMBtnInner.sapMBtnActive {
    border: 1px solid #e78c07 !important;
    background-color: #e78c07 !important;
}

.orange_button .sapMBtnInner.sapMToggleBtnPressed .sapMBtnIcon,
.orange_button .sapMBtnInner.sapMBtnActive .sapMBtnIcon {
    color: white !important;
}

.sapMITBContent {
    border-bottom: none !important;
}

a[data-text-color="gray"] {
    color: gray;
}